<h3 class="subheader">
  {{#link-to 'tweets.new'}}+ Add New Tweet{{/link-to}}
</h3>
<hr/>

{{outlet}}

{{#each arrangedContent itemController='tweet'}}
  <div>
    <small> {{moment}} </small>
    {{{markdown}}}
  </div>
  <hr />
{{/each}}
